<?xml version="1.0" encoding="utf-8"?>
<manifest package="droid.vsb.ms.rmatu.gcloudclient"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.CloudClientActivity" />
        <activity android:name=".view.CreateFileInFolderActivity" />
        <activity android:name=".view.RetrieveContentsWithProgressDialogActivity" />
        <activity android:name=".view.DeleteFileActivity" />



        <activity android:name=".QueryFilesActivity" />
        <activity android:name=".RetrieveContentsActivity" />
        <activity android:name=".CreateFileActivity" />
        <activity android:name=".CreateEmptyFileActivity" />
        <activity android:name=".CreateFileInAppFolderActivity" />
        <activity android:name=".CreateFolderActivity" />
        <activity android:name=".AppendContentsActivity" />
        <activity android:name=".RewriteContentsActivity" />
        <activity android:name=".EditMetadataActivity" />
        <activity android:name=".CreateFileWithCreatorActivity" />
        <activity android:name=".RetrieveMetadataActivity" />
        <activity android:name=".CreateFolderInFolderActivity" />
        <activity android:name=".QueryFilesInFolderActivity" />
        <activity android:name=".PinFileActivity" />
        <activity android:name=".events.ListenChangeEventsForFilesActivity" />
        <activity android:name=".events.SubscribeChangeEventsForFilesActivity" />
        <activity android:name=".QueryNonTextFilesActivity" />
        <activity android:name=".QueryFilesSharedWithMeActivity" />
        <activity android:name=".QueryFilesWithTitleActivity" />
        <activity android:name=".QueryStarredTextFilesActivity" />
        <activity android:name=".QueryTextOrHtmlFilesActivity" />
        <activity android:name=".InsertUpdateCustomPropertyActivity" />
        <activity android:name=".QueryFilesWithCustomPropertyActivity" />
        <activity android:name=".DeleteCustomPropertyActivity" />
        <activity android:name=".QuerySortedFilesActivity" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>